<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.memoir"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:restoreAnyVersion="true">
        <activity
            android:name="com.example.memoir.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.memoir.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVTY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="AboutScreen"></activity>
        <activity android:name="StatisticsScreen"></activity>
        <activity android:name="GameListScreen"></activity>
        <activity android:name="LinkPhaseActivity"></activity>
        <activity android:name="PauseScreen"></activity>
        <activity android:name="QuizPhaseActivity" android:windowSoftInputMode="stateAlwaysVisible">
        </activity>
        <activity android:name="LinkPhaseUtility"></activity>
        <activity android:name="LinkPhaseUtility_Start"></activity>
        <activity android:name="CountDown"></activity>
        <activity android:name="LoadingScreen"></activity>
        <activity android:name="ShapesScreen"></activity>
        <activity android:name="TutorialShapes"></activity>
        <activity android:name="ResultScreen"></activity>
        
    </application>

</manifest>
